@charset "UTF-8";
@media only screen and (max-device-width:1300px) {
	#aside>ul
	{
	    float: left; padding: 40px 5px;
	    border-radius: 10;
	}
	#aside>ul>li 
	{
	    border: 1px solid gray;
	    background-color: lightgray;
	    height: 35px;
	    width:200px;
	    line-height:35px;
	    font-size:15px;
	    padding-left: 10px;
	}
	#aside>ul>#cs1
	{
	    height:80px;
	    background-color: black;
	    text-align: center;
	    line-height: 80px;
	}
	#aside>ul>#cs1>a
	{
	    color:white;
	}
	#aside>ul>#cs2
	{
	    height:100px;
	    background-color: white;
	    padding-top: 10px;
	}
}