@charset "UTF-8";
@media only screen and (max-device-width:1300px) {
	#search
	{
	    width:870px;
	    height: 90px;
	    background-color:lightgray;
	    border:1px solid;
	    float: left;
	    position:absolute;
	    top:188px; left:320px;
	    line-height: 90px;
	    border-radius: 10px;
	}
	#search>input[type="text"]
	{
	    width:500px;
	    height:30px;
	}
	#content1
	{
	    width:1000px;
	    height: 400px;
	    position:absolute;
	    top:300px; left:320px;
	}
	#content1>a>#cont1
	{
	    width:300px;
	    height:200px;
	    float:left;
	}
	#content1>a>#cont1>img
	{
	    width:50px;
	    height:50px;
	}
	#content1>a>#cont2
	{
	    width:300px;
	    height:200px;
	    float:left;
	}
	#content1>a>#cont2>img
	{
	    width:50px;
	    height:50px;
	}
	#content1>a>#cont3
	{
	    width:300px;
	    height:200px;
	    float:left;
	}
	#content1>a>#cont3>img
	{
	    width:50px;
	    height:50px;
	}
	#content1>a>#cont4
	{
	    width:300px;
	    height:150px;
	    float:left;
	}
	#content1>a>#cont4>img
	{
	    width:50px;
	    height:50px;
	}
	#content1>a>#cont5
	{
	    width:300px;
	    height:200px;
	    float:left;
	}
	#content1>a>#cont5>img
	{
	    width:50px;
	    height:50px;
	}
	#content2
	{
	    width:1000px;
	    height: 280px;
	    position:absolute;
	    top:678px; left:320px;
	}
	#content2>#cont1
	{
	    width:400px;
	    height:195px;
	    float:left;
	    margin-top:15px;
	    border-bottom:1px soild lightgray;
	}
	#content2>#cont1>#cont1_top
	{
	    width:400px;
	    height: 45px;
	    border-bottom: 1px solid black;
	    line-height: 45px;
	}
	#content2>#cont1>#cont1_top>h4>#more
	{
	    width:80px;
	    float: right;
	    margin:0px auto;
	    font-size:15px;
	}
	#content2>#cont1>table
	{
		margin-top:10px;
	}
	
	#content2>#cont2
	{
	    width:400px;
	    height:195px;
	    float:left;
	    margin:15px 30px 0px 30px;
	    border-bottom:1px soild lightgray;
	}
	#content2>#cont2>#cont1_top
	{
		 height: 45px;
	    border-bottom: 1px solid black;
	    line-height: 45px;
	    border-bottom: 1px solid black;
	}
	#content2>#cont2>#cont1_top>h4>#more
	{
	    width:80px;
	    float: right;
	    margin:0px auto;
	    font-size:15px;
	}
	#content2>#cont2>table
	{
		margin-top:10px;
		border-bottom:1px solid lightgray;
	}
	#event
	{
	    width:1200px;
	    height:330px;
	    position:absolute;
	    top:958px; left:320px;
	}
	#event>#event1
	{
	    width:400px;
	    height:170px;
	    background-color:teal;
	    float:left;
	}
	#event>#event1>a>img
	{
		width:400px;
	    height:170px;
	}
	#event>#event2
	{
	    width:400px;
	    height:170px;
	    background-color:violet;
	    float:left;
	    margin:0px 30px;
	}
	#event>#event2>a>img
	{
		width:400px;
	    height:170px;
	}
	#footer
	{
	    position:absolute; 
	    top:1278px; left:0px;
	    font-size:13px;
	}
	#footer>table
	{
	    width:1100px;
	}
	#aside{
	    height:1150px;
	}
	#aside>ul>li>ul>li
	{
	    height: 20px; width:200px;
	}
}