@charset "UTF-8";
#menu>#submenu{display:none;}
#menu2>#submenu{display:none; }
#menu3>#submenu{display: none;}
#menu4>#submenu{display:none;}
#menu6>#submenu{display: none;}
@media only screen and (max-device-width:1300px) {
	#nav>#mainmenu>li 
	{
	    display: inline-block;
	    width:80px;
	    position: relative;
	    top:15px;left:25px;
	    text-align: center;
	    float: left;
	}
	#nav>#mainmenu>li>ul 
	{
	    width:1250px;
	    position:relative; 
	    left: -60px;
	    margin-left: -100px;
	    color:white;
	}
	#nav>#mainmenu>li>ul>li 
	{
	   width:60px;
	   position: relative;
	   text-align: left;
	   left:0px;float: left;
	   font-size: 14px;
	}
	#nav>#mainmenu>#menu>#submenu
	{
	    position: relative;
	    left:0px;
	}
	#nav>#mainmenu>#menu>#submenu>li 
	{
	   text-align: left;
	   width:70px;
	}
	#nav>#mainmenu>#menu>#submenu>#s1
	{
	    float: left;
	    font-size: 14px;
	}
	#nav>#mainmenu>#menu2>#submenu
	{
	    position: relative;
	    left:25px;
	}
	#nav>#mainmenu>#menu2>#submenu>li 
	{
	   text-align: left;
	   width:80px;
	}
	#nav>#mainmenu>#menu2>#submenu>#s2
	{
	    float: left;
	    margin-left: 0px;
	    font-size: 14px;
	}
	#nav>#mainmenu>#menu3>#submenu
	{
	    position: relative;
	    left:70px;
	}
	#nav>#mainmenu>#menu3>#submenu>li 
	{
	   text-align: left;
	   width:70px;
	}
	#nav>#mainmenu>#menu4>#submenu
	{
	    position: relative;
	    left:2px;
	}
	#nav>#mainmenu>#menu4>#submenu>li 
	{
	   text-align: left;
	   width:110px;
	}
	#nav>#mainmenu>#menu6>#submenu
	{
	    position: relative;
	    left:30px;
	}
	#nav>#mainmenu>#menu6>#submenu>li 
	{
	   text-align: left;
	   width:110px;
	}
	#menu:hover #submenu 
	{
	    display: inline-block;
	    width:500px;
	    line-height: 40px;
		height:40px;
		z-index:3;
	    margin-right: 10px;
	}
	#menu2:hover #submenu 
	{
	    display: inline-block;
	    width:350px;
		height:40px;
		z-index:3;
	    line-height: 40px;
	}
	#menu3:hover #submenu 
	{
	    display: inline-block;
	    width:150px;
		height:40px;
		z-index:3;
	    line-height: 40px;
	}
	#menu4:hover #submenu 
	{
	    display: inline-block;
	    width:400px;
		height:40px;
		z-index:3;
	    line-height: 40px;
	}
	#menu6:hover #submenu 
	{
	    display: inline-block;
	    width:300px;
		height:40px;
		z-index:3;
	    line-height: 40px;
	}
	#menu:hover #nav
	{
	    background-color: green;
	}
	#nav>#mainmenu>#menu
	{
	    margin-left: 130px;
	}
	#nav>#mainmenu>#menu4
	{
	    margin-left: 370px;
	}
	#nav>#d1
	{
	    width:1150px;
	    height:30px;
	    background-color: grey;
	    margin-top: 50px;
	}
}